canvas {
		position: absolute;
		left: 20px;
		top: 20px;
	}

	#canvas2 {
		opacity: 0.3;
	}

	#buttons {
		position: absolute;
		left: 450px;
		top: 250px;
	}

	.typical {
		background-color: white;
		width: 100px;
		border: 2px solid purple;
		border-radius: 5px;
		color: black;
		padding: 5px;
		margin: 5px;

	}



	.typical:hover {
		background-color: aliceblue;
		color: purple;
		border: 2px solid purple;
	}

	#now {
		color: blue;
	}

